apiVersion: v1
kind: Service
metadata:
  name: tp3-secure-app
  namespace: default
  labels:
    app: tp3-secure-app
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 5000
    protocol: TCP
    name: http
  selector:
    app: tp3-secure-app

